<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
	<form method="POST" id="form" enctype="multipart/form-data">
		{% csrf_token %}
		{{ examination_formset.management_form }}
		{{ employer_formset.management_form }}
		{{ file_formset.management_form }}

		{{ examination_formset.as_p }}
		<div id="employer_formset">
			{{ employer_formset.as_p }}
		</div>
		<button type="button" onclick="append_item('employer')">Append</button>
		<button type="button" onclick="delete_item('employer')">Delete</button>
		<div id="file_formset">
			{{ file_formset.as_p }}
		</div>
		<button type="button" onclick="append_item('file')">Append</button>
		<button type="button" onclick="delete_item('file')">Delete</button>
		<br><br>
		<input type="submit" value="Submit">
	</form>
	<script src="{% static 'main.js' %}"></script>
</body>
</html>